<div class="row">
  <div class="col-md-6">
    <h2> Tareas Pendientes </h2>
    <% if @notready.present? && @notready.count > 0 %>
      <% @notready.each do |todo| %>
        <div class="well"><%= todo.description %>
          <%= link_to 'Ver', todo_path(todo.id) %>
          <%= link_to 'Editar', todos_edit_path(todo.id) %>
          <%= link_to 'Eliminar', todos_delete_path(todo.id), method: :delete %>
        <%= link_to 'Completado', todos_complete_path(todo.id) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2> Tareas Completadas </h2>
    <% if @ready.present? && @ready.count > 0 %>
      <% @ready.each do |todo| %>
        <div class="well"><%= todo.description %>
          <%= link_to 'Ver', todo_path(todo.id) %>
          <%= link_to 'Editar', todos_edit_path(todo.id) %>
          <%= link_to 'Eliminar', todos_delete_path(todo.id), method: :delete %>
          <%= link_to 'Completado', todos_complete_path(todo.id) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
